# Ignore project virtual environment in the .venv folder
.venv/

# Ignore Visual Studio Code settings in the .vscode folder
.vscode/

# If the project uses Jupyter Notebooks include the following
.ipynb_checkpoints/